page-registrar{

  background-image: url("../assets/imgs/pexels-photo-276092.jpeg") ;
  background-size: cover;
  background-position: center;

div.wrapper {

    width: 320px;
    position:  relative;
    top: 20px;
    right: 7px;
    opacity: 0.94;


}
div.main-container
  {

    -webkit-box-shadow: 2px 3px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 15px 2px rgba(0,0,0,0.75);
    z-index: 2;

    width: 340px;
    text-align: center;

    h1{
      padding: 20px;
    }
     .ion-select{
      width: 100%;
      max-width: 100%;
      display: flex;;
      overflow: hidden;
      color: #808080;
  }
  }

}
